
/**
 * Select.
 *
 * div.select
 *   div.select-box
 *     input.select-input[type=text]
 *   div.select-dropdown
 *     ul.select-options
 *       li.select-option
 *       ...
 */

.select {
  position: relative;
  display: inline-block;
  user-select: none;
}

.select .select-box {
  width: 100%;
  cursor: pointer;
}

.select .select-dropdown {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.select .select-options {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.select .select-option {
  cursor: pointer;
  display: block;
}

.select .select-option[disabled] {
  pointer-events: none;
}

.select .selected {
  display: none;
}